In [1]:
### Don't mind about this 
import warnings
warnings.filterwarnings('ignore')
###

%matplotlib inline 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier # I will use the Sklearn to get kNN
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
import math
from statistics import mode

In [2]:
digits_X = pd.read_csv('mnist_train.csv') #put the data in pd Frame
digits_X.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Separate the Label from the Training Data
train_Y = digits_X['label']
train_X = digits_X.iloc[:,1:]

In [4]:
print(train_X.shape)
print(train_Y.shape)

(60000, 784)
(60000,)

In [5]:
Test_X = pd.read_csv('mnist_test.csv') #put the data in pd Frame
Test_X.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_Y = Test_X['label']
test_X = Test_X.iloc[:,1:]

In [7]:
test_X.shape

(10000, 784)

In [8]:
X = train_X.iloc[:300,]
X = np.array(X)

In [9]:
from sklearn import preprocessing

scalar = preprocessing.StandardScaler()
#scalar.fit(X)
Scaled_x = scalar.fit_transform(X)

X = pd.DataFrame(Scaled_x,columns = train_X.columns)

In [10]:
X = np.array(X)

In [11]:
Similarity_Table =[]
for P1 in range(len(X)):
    temp = []
    for P2 in range(len(X)):
        if(P1 ==P2):
            temp.append(0)
        else:
            dist =np.sum((X[P1] - X[P2]) ** 2, axis=0)
            temp.append(-1*dist)
    if(len(temp) !=0):
        Similarity_Table.append(temp)
    print("Loop",P1)

Loop 0
Loop 1
Loop 2
Loop 3
Loop 4
Loop 5
Loop 6
Loop 7
Loop 8
Loop 9
Loop 10
Loop 11
Loop 12
Loop 13
Loop 14
Loop 15
Loop 16
Loop 17
Loop 18
Loop 19
Loop 20
Loop 21
Loop 22
Loop 23
Loop 24
Loop 25
Loop 26
Loop 27
Loop 28
Loop 29
Loop 30
Loop 31
Loop 32
Loop 33
Loop 34
Loop 35
Loop 36
Loop 37
Loop 38
Loop 39
Loop 40
Loop 41
Loop 42
Loop 43
Loop 44
Loop 45
Loop 46
Loop 47
Loop 48
Loop 49
Loop 50
Loop 51
Loop 52
Loop 53
Loop 54
Loop 55
Loop 56
Loop 57
Loop 58
Loop 59
Loop 60
Loop 61
Loop 62
Loop 63
Loop 64
Loop 65
Loop 66
Loop 67
Loop 68
Loop 69
Loop 70
Loop 71
Loop 72
Loop 73
Loop 74
Loop 75
Loop 76
Loop 77
Loop 78
Loop 79
Loop 80
Loop 81
Loop 82
Loop 83
Loop 84
Loop 85
Loop 86
Loop 87
Loop 88
Loop 89
Loop 90
Loop 91
Loop 92
Loop 93
Loop 94
Loop 95
Loop 96
Loop 97
Loop 98
Loop 99
Loop 100
Loop 101
Loop 102
Loop 103
Loop 104
Loop 105
Loop 106
Loop 107
Loop 108
Loop 109
Loop 110
Loop 111
Loop 112
Loop 113
Loop 114
Loop 115
Loop 116
Loop 117
Loop 118
Loop 119
Loop 120
Loop 121
Loop 122
Loop 123
Loop 124
Loop 125
Loop 126
Loop 127
Loop 128
Loop 129
Loop 130
Loop 131
Loop 132
Loop 133
Loop 134
Loop 135
Loop 136
Loop 137
Loop 138
Loop 139
Loop 140
Loop 141
Loop 142
Loop 143
Loop 144
Loop 145
Loop 146
Loop 147
Loop 148
Loop 149
Loop 150
Loop 151
Loop 152
Loop 153
Loop 154
Loop 155
Loop 156
Loop 157
Loop 158
Loop 159
Loop 160
Loop 161
Loop 162
Loop 163
Loop 164
Loop 165
Loop 166
Loop 167
Loop 168
Loop 169
Loop 170
Loop 171
Loop 172
Loop 173
Loop 174
Loop 175
Loop 176
Loop 177
Loop 178
Loop 179
Loop 180
Loop 181
Loop 182
Loop 183
Loop 184
Loop 185
Loop 186
Loop 187
Loop 188
Loop 189
Loop 190
Loop 191
Loop 192
Loop 193
Loop 194
Loop 195
Loop 196
Loop 197
Loop 198
Loop 199
Loop 200
Loop 201
Loop 202
Loop 203
Loop 204
Loop 205
Loop 206
Loop 207
Loop 208
Loop 209
Loop 210
Loop 211
Loop 212
Loop 213
Loop 214
Loop 215
Loop 216
Loop 217
Loop 218
Loop 219
Loop 220
Loop 221
Loop 222
Loop 223
Loop 224
Loop 225
Loop 226
Loop 227
Loop 228
Loop 229
Loop 230
Loop 231
Loop 232
Loop 233
Loop 234
Loop 235
Loop 236
Loop 237
Loop 238
Loop 239
Loop 240
Loop 241
Loop 242
Loop 243
Loop 244
Loop 245
Loop 246
Loop 247
Loop 248
Loop 249
Loop 250
Loop 251
Loop 252
Loop 253
Loop 254
Loop 255
Loop 256
Loop 257
Loop 258
Loop 259
Loop 260
Loop 261
Loop 262
Loop 263
Loop 264
Loop 265
Loop 266
Loop 267
Loop 268
Loop 269
Loop 270
Loop 271
Loop 272
Loop 273
Loop 274
Loop 275
Loop 276
Loop 277
Loop 278
Loop 279
Loop 280
Loop 281
Loop 282
Loop 283
Loop 284
Loop 285
Loop 286
Loop 287
Loop 288
Loop 289
Loop 290
Loop 291
Loop 292
Loop 293
Loop 294
Loop 295
Loop 296
Loop 297
Loop 298
Loop 299

In [12]:
Similarity_Table = np.array(Similarity_Table)

In [14]:
df = pd.DataFrame(Similarity_Table)
df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.000000,-1376.043266,-2929.702234,-1331.649735,-1636.886089,-1503.118505,-1316.422007,-1138.625565,-1275.651044,-1487.184756,...,-1292.463698,-1256.635871,-1347.417227,-1704.287023,-3716.103561,-1262.500877,-1631.606419,-1482.513452,-1429.088234,-1733.840301
1,-1376.043266,0.000000,-2344.169464,-778.251865,-916.464328,-830.625085,-833.760384,-750.292147,-749.315862,-1059.707267,...,-711.176454,-726.066824,-787.679100,-468.914177,-2706.509999,-664.086883,-544.533818,-896.945799,-1044.215259,-862.713860
2,-2929.702234,-2344.169464,0.000000,-2119.502060,-2332.390240,-2286.830044,-2129.067773,-2222.738027,-2042.198443,-2210.961961,...,-2096.090684,-2347.006008,-2137.692443,-2660.889390,-2819.075451,-2126.624309,-2405.081271,-2044.263679,-2375.035604,-2449.270336
3,-1331.649735,-778.251865,-2119.502060,0.000000,-748.137743,-717.139293,-523.463038,-671.874832,-425.650975,-824.436532,...,-261.561077,-522.901537,-549.907631,-1193.913623,-2691.304038,-438.391849,-965.915211,-764.940791,-913.248602,-912.482345
4,-1636.886089,-916.464328,-2332.390240,-748.137743,0.000000,-843.406644,-678.337809,-942.089238,-559.076483,-1011.614157,...,-734.625222,-937.734414,-635.433495,-1346.004520,-2823.657558,-762.686621,-1098.785669,-840.511897,-1108.095427,-1035.597181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-1262.500877,-664.086883,-2126.624309,-438.391849,-762.686621,-725.713956,-505.473347,-562.571732,-421.492229,-761.815878,...,-459.069980,-523.941215,-508.438141,-971.059278,-2729.900974,0.000000,-966.869317,-609.352628,-906.160458,-912.639724
296,-1631.606419,-544.533818,-2405.081271,-965.915211,-1098.785669,-1068.575212,-923.832661,-999.108375,-920.359697,-1269.852356,...,-924.431696,-1026.173150,-948.903015,-588.771855,-2689.555203,-966.869317,0.000000,-1087.905526,-1165.136307,-844.482411
297,-1482.513452,-896.945799,-2044.263679,-764.940791,-840.511897,-902.544420,-777.380887,-863.839804,-663.651382,-484.104472,...,-726.642109,-915.972592,-627.623998,-1161.058521,-2643.009826,-609.352628,-1087.905526,0.000000,-1194.172197,-970.187022
298,-1429.088234,-1044.215259,-2375.035604,-913.248602,-1108.095427,-1052.512714,-707.080580,-846.945772,-702.730346,-1229.193687,...,-762.966234,-857.328962,-771.130589,-1225.943309,-2930.142904,-906.160458,-1165.136307,-1194.172197,0.000000,-1281.820237
299,-1733.840301,-862.713860,-2449.270336,-912.482345,-1035.597181,-944.320212,-852.236947,-1098.711484,-897.584761,-1108.737620,...,-893.648519,-1076.780378,-785.150171,-923.627008,-2706.424224,-912.639724,-844.482411,-970.187022,-1281.820237,0.000000

In [15]:
Similarity_Table.shape

(300, 300)

## Do the Algorithm to Calculate The Responsibility and Availability.

In [16]:
def AffanityProp(s,damping,do_dumping):

    n = len(s)
    a = np.zeros((n,n))
    r = np.zeros((n,n))
    
    for num_iterations in range(60):
        r_old = r.copy()
        a_old = a.copy()
        for i in range(n):
            for k in range(n):
                
                temp_s = np.hstack((s[i,:k],s[i,k+1:]))
                temp_a = np.hstack((a[i,:k],a[i,k+1:]))
                r[i,k] = s[i,k] - np.amax(temp_s + temp_a)

        #Fill availibility 

        for i in range(n):
            for k in range(n):
                if(k == i):
                    t_a = np.hstack((r[:i,i],r[i+1:,i]))
                    zero = np.zeros(len(t_a))
                    a[i,i] = sum(np.maximum(zero,t_a))
                    continue

                a_mx = np.hstack((r[:i,k],r[i+1:,k]))
                zero = np.zeros(len(a_mx))
                a_mx = np.maximum(a_mx,zero)
                a[i,k] = min(0,r[k,k] + sum(a_mx))
        
        if(do_dumping):
            if(num_iterations !=0):
                r = damping*r_old+ (1-damping)*r
                a = damping*a_old+ (1-damping)*a
           
    
    return a,r

In [17]:
lst = []
#create the list
Similarity_Table = pd.DataFrame(Similarity_Table)
minimum = min(Similarity_Table.min())

lst.append(minimum)
lst.append(minimum/2)
lst.append(max(Similarity_Table.min())/2)
lst.append(0)
lst.sort()
lst.reverse()
lst

[0, -1753.9007819431695, -2939.001899761778, -5878.003799523556]

# With Dumping Factor

### Run With all possible Ones

In [18]:
Similarity_Table = pd.DataFrame(Similarity_Table)
Similarity_Table.replace(0,min(Similarity_Table.min())/2,inplace=True)

Similarity_Table

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-2939.001900,-1376.043266,-2929.702234,-1331.649735,-1636.886089,-1503.118505,-1316.422007,-1138.625565,-1275.651044,-1487.184756,...,-1292.463698,-1256.635871,-1347.417227,-1704.287023,-3716.103561,-1262.500877,-1631.606419,-1482.513452,-1429.088234,-1733.840301
1,-1376.043266,-2939.001900,-2344.169464,-778.251865,-916.464328,-830.625085,-833.760384,-750.292147,-749.315862,-1059.707267,...,-711.176454,-726.066824,-787.679100,-468.914177,-2706.509999,-664.086883,-544.533818,-896.945799,-1044.215259,-862.713860
2,-2929.702234,-2344.169464,-2939.001900,-2119.502060,-2332.390240,-2286.830044,-2129.067773,-2222.738027,-2042.198443,-2210.961961,...,-2096.090684,-2347.006008,-2137.692443,-2660.889390,-2819.075451,-2126.624309,-2405.081271,-2044.263679,-2375.035604,-2449.270336
3,-1331.649735,-778.251865,-2119.502060,-2939.001900,-748.137743,-717.139293,-523.463038,-671.874832,-425.650975,-824.436532,...,-261.561077,-522.901537,-549.907631,-1193.913623,-2691.304038,-438.391849,-965.915211,-764.940791,-913.248602,-912.482345
4,-1636.886089,-916.464328,-2332.390240,-748.137743,-2939.001900,-843.406644,-678.337809,-942.089238,-559.076483,-1011.614157,...,-734.625222,-937.734414,-635.433495,-1346.004520,-2823.657558,-762.686621,-1098.785669,-840.511897,-1108.095427,-1035.597181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,-1262.500877,-664.086883,-2126.624309,-438.391849,-762.686621,-725.713956,-505.473347,-562.571732,-421.492229,-761.815878,...,-459.069980,-523.941215,-508.438141,-971.059278,-2729.900974,-2939.001900,-966.869317,-609.352628,-906.160458,-912.639724
296,-1631.606419,-544.533818,-2405.081271,-965.915211,-1098.785669,-1068.575212,-923.832661,-999.108375,-920.359697,-1269.852356,...,-924.431696,-1026.173150,-948.903015,-588.771855,-2689.555203,-966.869317,-2939.001900,-1087.905526,-1165.136307,-844.482411
297,-1482.513452,-896.945799,-2044.263679,-764.940791,-840.511897,-902.544420,-777.380887,-863.839804,-663.651382,-484.104472,...,-726.642109,-915.972592,-627.623998,-1161.058521,-2643.009826,-609.352628,-1087.905526,-2939.001900,-1194.172197,-970.187022
298,-1429.088234,-1044.215259,-2375.035604,-913.248602,-1108.095427,-1052.512714,-707.080580,-846.945772,-702.730346,-1229.193687,...,-762.966234,-857.328962,-771.130589,-1225.943309,-2930.142904,-906.160458,-1165.136307,-1194.172197,-2939.001900,-1281.820237
299,-1733.840301,-862.713860,-2449.270336,-912.482345,-1035.597181,-944.320212,-852.236947,-1098.711484,-897.584761,-1108.737620,...,-893.648519,-1076.780378,-785.150171,-923.627008,-2706.424224,-912.639724,-844.482411,-970.187022,-1281.820237,-2939.001900

## Run the algorthm using the diagonal with min value/2 to get  10 Clusters

In [ ]:
a,r = AffanityProp(np.array(Similarity_Table),0.8,1)

In [ ]:
rdf = pd.DataFrame(r)
rdf

In [ ]:
adf = pd.DataFrame(a)
adf

In [ ]:
c = r + a
cdf = pd.DataFrame(c)
cdf

In [ ]:
ClusterPoints = np.zeros(len(c))
for row in range(len(c)):
    ClusterPoints[row] = np.argmax(c[row,])

In [ ]:
Clusters = np.unique(ClusterPoints)
Clusters

## 1.F. Calculating the accuracy, Precision, and Recall

In [ ]:
from sklearn.metrics import classification_report

mapper = {}

for i in Clusters:
    mapper[i]=train_Y[i]

y_pred = []

for i in (ClusterPoints):
    y_pred.append(mapper[i])

In [ ]:
mapper

In [ ]:
y_pred = []

for i in (ClusterPoints):
    y_pred.append(mapper[i])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(train_Y[:300], np.array(y_pred)))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(train_Y[:300], np.array(y_pred))

## 1.G Showing the images

In [ ]:
x = list(Clusters)

x

In [ ]:
for exampler in list(Clusters):
    exampler
    plt.imshow(X[int(exampler)].reshape(28,28))
    plt.show()

## Without Dumping Factor [Many Oscillations ? Problem]

In [ ]:
a,r = AffanityProp(np.array(Similarity_Table),0.8,0)

In [ ]:
rdf = pd.DataFrame(r)
rdf

In [ ]:
adf = pd.DataFrame(a)
adf

In [ ]:
c = r + a
cdf = pd.DataFrame(c)
cdf

In [ ]:
ClusterPoints = np.zeros(len(c))
for row in range(len(c)):
    ClusterPoints[row] = np.argmax(c[row,])
ClusterPoints